/* Canvas */
#can {
    background-color: white;
    display: block;
    border: 2px solid;
    border-color: #000;
}

body {
    background-color: #3B1433;
    color: aliceblue;
    height: 100%;
    font-family: andale mono, monospace;
    justify-content: center;
    text-align: center;
}

html,
body {
    margin: 0;
    height: 100%;
}

#logo {
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
}

#gameId {
    text-align: center;
    margin-top: 0;
}

.button-box {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    margin-top: auto;
    margin-bottom: auto;
}

.input-box {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    margin-top: auto;
    margin-bottom: auto;
}

input {
    width: 350px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    font-family: andale mono, monospace;
    border: none;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

::placeholder {
    text-align: center;
}

button {
    width: 250px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    font-family: andale mono, monospace;
    border: none;
    color: #000;
    background-color: azure;
}

button:active {
    background-color: #67DDFF;
}

#create_game,
#add_word {
    margin-bottom: 30px;
}

#players {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#players>li {
    color: white;
    display: inline-block;
    margin: 2%;
    background-color: black;
    padding: 3%;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

hr {
    margin-top: 30px;
    border-color: azure;
    border-width: 2px;
    border-style: solid;
}

#timer {
    font-size: 250%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#toggleTimer {
    margin-right: 30px;
}

#wordsInPlay {
    padding: 0;
}

#wordsInPlay>li {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#wordsInPlay>li>p {
    padding: 4px;
    font-size: 30px;
    font-weight: bold;
    background-color: azure;
    border-radius: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #3B1433;
    margin-bottom: 0;
    /* margin-top: 5px; */
}

#wordsInPlay>li>p>img {
    float: right;
    height: 35px;
}

/* #teams > li {
    display: none;
} */

/* DROPDOWN STUFF */
/* Dropdown Button */
.dropbtn {
    background-color: azure;
    color: black;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    width: 530px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: azure;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: azure;
    color: #3B1433;
    width: 530px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: #000;
    border-bottom: #000;
    border-left-width: 0;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* END DROPDOWN STUFF */

.banner {
    width: 510px;
    background-color: azure;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    clear: both;
    border-bottom: #3B1433;
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-style: solid;
}

.banner > h3 {
    display: inline-block;
}

.banner > ul {
    padding: 0;
    background-color: azure;
    margin-top: 0;
    margin-bottom: 0;

}

.banner > ul > h4 {
    margin: 0;
    border-bottom: #3B1433;
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-style: solid;
}

/* .banner > ul > p {
    display: inline-block;
} */

.score {
    /* text-align: right; */
    float: right;
}

#top-banner {
    border-radius: 15px 15px 0 0;
}

#bot-banner {
    border-radius: 0 0 15px 15px;
    min-height: 15px;
    text-align: center;
}

#bot-space {
    min-height: 20px;
}

#results {
    color: azure;
}

.gold {
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
}

.silver {
    background-image: linear-gradient(to right,
            #758087 0,
            #a1a8ad 22%,
            #ccd0d3 45%,
            #f8f8f9 50%,
            #ccd0d3 55%,
            #a1a8ad 78%,
            #758087 100%);
}

.bronze {
    background-image: linear-gradient(to right,
            #d0722c 0,
            #e09f6e 22%,
            #eecbb1 45%,
            #fcf8f4 50%,
            #eecbb1 55%,
            #e09f6e 78%,
            #d0722c 100%);
}

#message {
    width: 250px;
    min-height: 40px;
    font-weight: bold;
    border: 2px solid red;
    /* border-radius: 10px; */
    background-color: azure;
    position: fixed;
    top: -45px;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3B1433;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s linear;
}

#status {
    /* padding: 5px 10px; */
    text-align: center;
    /* font-size: 12px; */
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    border: 3px solid black;
    width: 20px;
    height: 20px;
}

/* #status.pending::before {
  content: "status: pending";
} */

#status.pending {
    background-color: yellow;
    color: #000;
}

/* #status.connected::before {
  content: "status: connected";
} */

#status.connected {
    background-color: #48f542;
    color: #fff;
}

/* #status.reconnecting::before {
  content: "status: reconnecting";
} */

#status.reconnecting {
    background-color: red;
    color: #fff;
}

#statusMessage {
    position: fixed;
    top: 14px;
    left: 40px;
    font-weight: bold;
    font-size: 12px;
}

@media all and (max-width: 1000px) {
    button {
        width: 50%;
        height: 10vh;
    }


    #create_game,
    #add_word {
        margin-bottom: 5vh;
    }

    hr {
        margin-top: 5vh;
    }

    input {
        width: 65%;
        height: 8vh;
    }

    #players {
        width: 100%;
    }

    #players>li {
        font-size: 150%;
    }

    #toggleTimer {
        width: 40%;
        margin-right: 10vw;
    }

    #fetchWord {
        width: 40%;
    }

    #wordsInPlay>li {
        width: 100%;
    }

    #wordsInPlay>li>p {
        border: none;
        border-radius: 0px;
    }

    .dropdown {
        width: 100%;
    }

    .dropbtn {
        width: 100%;
        height: 6vh;
    }

    .dropdown-content {
        width: 100%;
    }

    .banner {
        width: 90%;
    }

    .banner > ul {
        margin-left: 0;
        margin-right: 0;
    }

    .score {
        margin-right: 20px;
    }

    .team {
        margin-left: 10px;
    }
}