/* Canvas */
#can {
    background-color: white;
    display: block;
    border:2px solid;
    border-color: #000;
}

body {
    background-color: #3B1433;
    color: aliceblue;
    height: 100%;
    font-family: andale mono, monospace;
    justify-content: center;
}

html, body {
    margin: 0;
    height: 100%;
}

#logo {
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10%;
}

#gameId {
    text-align: center;
    margin-top: 0;
}

.button-box {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    margin-top: auto;
    margin-bottom: auto;
}

.input-box {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    margin-top: auto;
    margin-bottom: auto;
}

input {
    width: 350px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    font-family: andale mono, monospace;
    border: none;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

::placeholder {
    text-align: center; 
}

button {
    width: 250px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    font-family: andale mono, monospace;
    border: none;
    color: #000;
    background-color: azure;
}

button:active {
    background-color: #67DDFF;
}

#create_game, #add_word {
    margin-bottom: 30px;
}

#players {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#players > li {
    color: white;
    display: inline-block;
    margin: 2%;
    background-color: black;
    padding: 3%;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

hr {
    margin-top: 30px;
    border-color: azure;
    border-width: 2px;
    border-style: solid;
}

@media all and (max-width: 1000px) {
    button {
        width: 50%;
        height: 10vh;
    }


    #create_game, #add_word {
        margin-bottom: 5vh;
    }

    hr {
        margin-top: 5vh;
    }
    
    input {
        width: 65%;
        height: 8vh;
    }

    #players > li {
        font-size: 150%;
    }
}